<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="USER" value="SYSTEM" />
		<add key="PASSWORD" value="XXXXXX" />
		<add key="LOGPATH" value="C:\Temp" />
		<add key="TASKFILEPATH" value="C:\Users\Public\Documents\AVEVA\USERDATA\" />

	</appSettings>
</configuration>